body {
    background: #F2F2F2;
    margin: 0;
}

.left-menu {
    background-color: white;
    width: 300px;
}

.left-menu-button {
    background: transparent;
    width: 300px;
    outline: 0;
    font-family: 'Arial Rounded MT Bold' , sans-serif;
    font-size: 18px;
    margin-top: 10px;
    border: 0;
    color: #D4D8DE;
    height: 30px;
}

.left-menu-nav {
    width: 100%;
    align-content: flex-start;
}
.left-menu-nav:hover {
    color: #0055FD
}