body {
    background: #F2F2F2;
    margin: 0;
}

.left-menu {
    background-color: white;
    width: 250px;
    height: 100%;
}

.left-menu-button {
    background: transparent;
    width: 120px;
    outline: 0;
    border: 0;
    color: #D4D8DE;
    height: 30px;
}